{{>header}}

<div class="row">
    <div class="col-12">
        {{!-- <form>
            <input placeholder="usedr" />
            <submit>
        </form> --}}

        <div class="accordion mt-3" id="accordionExample">
            {{#each shiftData}}
            <div class="card">
                <div class="card-header" id="heading{{this.ShiftId}}">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapse{{this.ShiftId}}" aria-expanded="true" aria-controls="collapse{{this.ShiftId}}">
                            Shift id: {{this.ShiftId}}
                        </button>
                    </h2>
                </div>

                <div id="collapse{{this.ShiftId}}" class="collapse hide" aria-labelledby="heading{{this.ShiftId}}"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            <strong>User Name:</strong> {{this.FirstName}}<br />
                            <strong>Date Start:</strong> {{this.DateStart}}<br />
                            <strong>Message:</strong> {{this.Message}}
                        </p>
                        
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ShifeNote{{this.ShiftId}}Modal">
                        Add shift note
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="ShifeNote{{this.ShiftId}}Modal" tabindex="-1" aria-labelledby="ShifeNote{{this.ShiftId}}ModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ShifeNote{{this.ShiftId}}ModalLabel">Add Shift Note</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                SHIFT ID: {{this.ShiftId}}
                                <form>
                                    <textarea style="width: 100%"></textarea>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                            </div>
                            </div>
                        </div>
                        </div>

                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

{{>footer}}